body {
	margin: 0;
}

header {
	background: beige;
	/* text-align: center; */
}

h1 {
	margin: 0;
	padding: 20px;
}

#todo-form {
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#todo-section {
	margin: 25px;
}
